<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Projects</h1>
      <p>some projects finding investors.</p>
    </div>
  </div>
</div>


<div class="container">
  <div class="card-deck text-center">

    <div class="container">
      <% @projects.each_slice(3)  do |projects| %>
        <div class="row">
          <% projects.each  do |project| %>
            <div class="col-sm-6 col-lg-4 col-md-4">
              <div class="card shadow-sm mt-2">
                <div class="card-header">
                    <h5> <%= project.title %> </h5>
                </div>
                <div class="card-body">
                  <h6> <%= project.created_at.strftime('%b %d, %Y') %> </h6>
                  <p> <%= raw(project.description).truncate(300) %> </p>
                  <p>  <%= link_to "details", project_path(project) %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

  </div>
</div>
